// body{font-family: 'Noto Sans', sans-serif;}
header {
    height: 90px;
    font-family: 'Kanit', sans-serif;
    position: fixed;
    z-index: 100;
    width: 100%;
}//header
    .gnb-inner{
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 400;

        width: 100%;
        height: 90px;
        z-index: 2;
        a{
            display: block;
            height:90px;
            line-height: 90px;
            position: relative;
            z-index: 2;
            color: #FFF;
        }
        div.menu{
            float:left;
            display:block;
            padding-left: 36px;
            line-height: 90px;
        }
        div.share{
            float:right;
            display:block;
            padding-right: 36px;
            line-height: 90px;
        }
        div.h1{
            text-align: center;
            h1{
                display: inline-block;
                width: 140px;
                line-height: 90px;
                font-size: 18px;
            }
        }
    }// gnb-inner

    .menu-main-menu-container{
        display: none;
        width: 100%;
        height: 100%;
        position: fixed;
        top:0px;
        padding-top: 90px;
        z-index: 1;
        div.menu-main-menu{
            height: 100%;
            width: 100%;
            ul.menu-main-menu-ul{
                font-size: 0;
                height: 100%;
                text-align: center;
                li.fifty{
                    box-sizing: border-box;
                    display: inline-block;
                    position: relative;
                    width: 33.33%;
                    text-transform: uppercase;
                    border-right: 0.5px rgba(255, 255, 255, 0.3) solid;
                    border-top: 0.5px rgba(255, 255, 255, 0.3) solid;
                    >a{ display: block;
                        position: relative;
                        color: #FFF;
                        font-size: 18px;
                        top:48%;
                        letter-spacing: 2px;
                    }
                    &:hover{
                        background-color: #FFF;
                        >a{
                            opacity:0;
                            pointer-events: none;
                        }
                        ul.sub-menu{
                            letter-spacing: 0.15em;
                            li{
                                a{
                                    color:#BBB;
                                    &:hover{
                                        transition: color 0.2s;
                                        color:#5b5b5b;
                                    }
                                }
                            }
                            >li{
                                font-weight: lighter;
                                color:#222;
                                transition:color 0.2s;
                            }
                        }
                    }
                }
                ul.sub-menu{
                    position: absolute;
                    top:40%;
                    width: 100%;
                    li:first-child{
                        letter-spacing: 0.2em;
                        color: transparent;
                        font-size: 13px;
                        margin-bottom: 20px;
                    }
                    li{
                        width: 100%;
                        padding: 2px;
                        a{
                            font-weight: lighter;
                            letter-spacing: 0.15em;
                            width: 100%;
                            font-size: 14px;
                            color: transparent;
                        }
                    }
                }
            }
        }
    }// menu-main-menu-container
