html,body{
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
}
section{
  height: 100%;
  width: 100%;
}

.slide_wrapper{
  width: 100%;
  height: 100%;
}
.main_slide{
  position: relative;
  width: 100%;
  height:100%;
  text-align: center;
  overflow: hidden;
}
.main_slide ul{
  font-size: 0;
  text-align: center;
  height: 100%;
  position: relative;
  z-index: 20;
}

.main_slide li{
  display: inline-block;
  position: relative;
  bottom: ~"calc( -100% + 240px)";
  cursor: pointer;
  &:hover img{
      opacity: 1;
  }
}

.main_slide .slide_contents li>a{
  z-index: 2;
  display: inline-block;
  max-height: 50px;
  position: relative;
  background-color: #FFF;
  img{
    position: relative;
    height: 50px;
    z-index: 1;    
  }
}

.main_slide .slide_contents{
  position: fixed;
  z-index: -1;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url('../image/main_1.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.title_bar{
    box-sizing: border-box;
    width: 100%;
    height: 90px;
    background-color: rgba(255, 255, 255, 0.92);
    position:fixed;
    bottom:50px;
  h2{
    position: relative;
    z-index: -1;
    line-height: 90px;
    letter-spacing: 0.2em;
    font-weight: 900;
    font-size: 15px;
    text-transform: uppercase;
  }
  span{
    color: rgb(10, 10, 10);
  }
  cite{
    color: rgb(175, 175, 175);
    font-style: normal;
  }
}

.left_area{
    position: absolute;
    left:0;
    top:0;
    background: transparent;
    width: 25%;
    height: 100%;
    cursor: w-resize;
}
.right_area{
  position: absolute;
  right:0;
  top:0;
  background: transparent;
  width: 25%;
  height: 100%;
  cursor: w-resize;
}
.scroll_down_arrow_wrapper{
  position: relative;
  width: 100%;
  height: 55px;
  margin-top: -55px;
  background-color: #FFF;
  z-index: 2;
  div{
    width: 80px;
    height: 55px;
    background-image: url('../image/down_arrow.svg');
    background-position: 50% 50%;
    background-size: 40%;
    background-repeat: no-repeat;
    position: absolute;
    top: 7px;
    left: 50%;
    margin-left: -40px;
    opacity: 0.8;
  }
}

.news_feed_wrapper{
  margin-top:-50px;
  padding-top: 50px;
  background-color: #FFF;
  border:1px #F00 solid;
  height: 100%;
  position: relative;
  z-index: 1;
}
.news_feed_contents_wrapper{

}
