html.portraitsHtml,body.portrait_body,section.portrait_section{
    height: 100%;
}

body.portrait_body{

    // border:11px #FF0 solid;
    box-sizing: border-box;
    background-image: url('../image/next_img.jpg');
    position: relative;
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    .gnb-inner div a {color:black;}
}

.portrait_section{
    overflow-x: scroll;
    width: 100%;
    position: relative;
}
.portrait_wrapper{
    height: 100%;
}
.portrait_gallery{
    height: 100%;
    position: relative;
    // overflow: hidden;
    div.portrait_description{
      position: absolute;
      bottom: 110px;
      word-wrap: normal;
      padding: 0 90px 0 50px;
      max-width: 700px;
      h2{
          span{
              font-size: 13px;
              letter-spacing: 0.225em;
              color: #515151;
              font-weight: normal;
              text-transform: uppercase;
          }
      }
      p{
        white-space: normal;
        font-size: 13px;
        letter-spacing: 0.05em;
        color: #959595;
        margin-top: 60px;
        line-height: 1.7em;
      }
    }

}


ul.portrait_list{
    height: 100%;
    font-size: 0;
    li{background-color: #FFF;}
    >li:first-child{
        padding: 110px 0 110px 10px;
        box-sizing: border-box;
    }
    >li{
        padding:110px 0;
        position: absolute;
        top:0;
        box-sizing: border-box;
        display: inline-block;
        width: 60%;
        height: 100%;
        img{
            height: 100%;
        }
        div{
            margin-top: 10px;

        }
        cite{
            margin-top: 10px;
            font-style: normal;
            font-size: 12px;
            color: #878787;
            letter-spacing: 0.125em;
            text-transform: capitalize;
        }
    }
    li.second_last_pt{
        background-color: #f7f7f9;
        width: 33%;
        div.next_up{
            display: block;
            line-height: 12px;
            text-transform: uppercase;
            text-align: center;
            padding: 0 90px;
            margin-top: 220px;
            span,a{                
                font-size:10px;
                color: #878787;
                letter-spacing: 0.125em;
                height: 20px;
                display: block;
                margin-top: 5px;
            }
        }
        li{
          margin: 0;
          font-size: 15px;
          line-height: 1.5em;
          background-color: #f7f7f9;
        }

    }
    li.last_pt{
        background-color: rgba(156, 156, 156, 0.65);
        // opacity: 0.85;
        width: 33%;
    }
} // portrait_list

.portrait_gallery_thumbnails{
    opacity: 0;
    width: 100%;
    position: fixed;
    bottom: -50px;
    border: 1px #F00 solid;
    height: 150px;
    text-align: center;
    transition: 1s ease;
    &:hover {
      opacity: 1;
      bottom: 4px;
    }
    ul{
        font-size: 0;
        margin-top: 100px;
        li{
            display: inline-block;
            height: 50px;
            width: auto;
            a{
                position: relative;
                // &:hover a:before {
                //     opacity: 1;
                // }
                img{
                    height: 100%;
                }
                // &:before{
                //     content: "";
                //     height: 50px;
                //     width: 100%;
                //     display: block;
                //     position: absolute;
                //     background-color: #FFF;
                //     z-index: 1;
                //     opacity: .6;
                // }
            }
        }
    }
#test{
    display: inline-block;
    height: 100%;
    background-color: #fff;
}

}
